{% extends 'baseUser.html.twig' %} {% block body %}

<main>
    <div>
        <span>
            {% if is_granted("ROLE_PATIENT") %}
            <h1>Wellcome {{app.user.name}}</h1>
            {% endif %}
            {% if is_granted("ROLE_DOCTOR") %}
            <h1>Wellcome back Dr. {{app.user.surname}}</h1>
            {% endif %}
        </span> {% if is_granted("ROLE_PATIENT") %}
        <h3>We hope everything is going well!</h3>
        <h3>Anyway here we are for you 😉</h3>
        {% endif %} {% if is_granted("ROLE_DOCTOR") %}
        <h3>Thank you for another day working for HealthPlace</h3>
        {% endif %}

    </div>

    <div>

        <h6>This are your appointments </h6>
        <ul> #} {% for appo in appointments %}
            <li>{{appo.date}}</li>
            <li>{{appo.time}}</li>
            <li>{{appo.doctor}}</li>
            <li>{{appo.reason}}</li>
            {% endfor %}
        </ul> #} {# {% endif %} #}


    </div> #}

</main>



{% endblock %}